body {
    font-family: cursive;
    background: linear-gradient(354deg, red, green, blue, yellow);

}
.col{
    transform: rotate(340deg);
}

.landpage-section img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
}


.quote-section img {
    width: 100%;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0 100%);
}



/* copyright section css  */

section {
    margin-top: 50px;
}
footer {
    color: #f7f7f7;
    text-align: center;
}
.footer-section img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.3s all ease;
}
.carousel-item img {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}


/* about us css  and members css  */

 .members-section {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -104px;
}

.row{
    display: block;
    margin: auto;
}
.col img {
    width: 40%;
    margin-bottom: 100px;
}
.col h5 {
    font-size: 2rem;
    color: white;
}





/* members cards  */
.card {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 25em;
}
.card-text {
    font-size: 1rem;
}
.card:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
.card-body img {
    width: 20%;
}




 /* headers  */
.head h1 {
    font-size: 3rem;
    margin-top: 8px
    /* background-color: #f7f7f7; */
}
.carousel-caption h5 {
    font-size: 3.25rem;
}
.carousel-caption p {
    font-size: 2rem;
}




 
/* slider section  */
#slider-container {
    width: 93.5%;
    margin: auto;
    display: block;
}
.slider-section{
    margin-top: -103px;
}
.carousel-inner {
    border-radius: 20px;

}


/* phone css */

@media (max-width: 795px) {

    .row {
        display: block;
        margin: auto;
    }


    .col img {
        margin-bottom: 50px;
    }


    .col h5 {
        font-size: 0.7rem;
        padding: 0px,0px;
    }

    .head h1 {
        font-size: 1.3rem;
    }

    .card {
        width: 10rem;
    }

    .card-text {
        font-size: 0.4rem;
        width: 126PX;
        height: 86PX;
    }

    .card-body {
        padding-bottom: 0;
    }

    .carousel-item img {
        height: 400px;
    }
}