.landpage-section img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 90%);
}

.quote-section img {
    clip-path: polygon(0 0, 100% 35%, 100% 74%, 0 74%);

}

.members-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin-bottom:  20px;
}

.card:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.card-body img{
    width: 30%;
}



@media (max-width: 795px) {

    .row {
        display: block;
        margin: auto;
    }

    .col img {
        margin-bottom: 50px;
    }

}